@layer reset, base, utilities;

@layer reset {
  @import "tailwindcss";
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(17 24 39);
}

/* Custom styles for form elements */
input, textarea {
  border-color: rgb(209 213 219);
}

input:focus, textarea:focus {
  --tw-ring-color: rgb(59 130 246);
  border-color: rgb(59 130 246);
}