@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--tw-gray-900);
}

/* Custom styles for form elements */
input, textarea {
  border-color: var(--tw-gray-300);
}

input:focus, textarea:focus {
  --tw-ring-color: var(--tw-blue-500);
  border-color: var(--tw-blue-500);
}